{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">

  <h1 class="my-4">Tools</h1>

  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Encounter Builder</h4>
        <div class="card-body">
          <p class="card-text">
            Provides GMs the ability to tailor encounters to their party.
            First select your party size then start adding creatures to
            the encounter. The tool will automatically calculate the encounter
            difficulty and XP to award. 
            <br /><br />
            Encounter difficulty/XP based on the Encounter Building rules found
            <a href="https://2e.aonprd.com/Rules.aspx?ID=498" target="_blank">HERE</a> and 
            <a href="https://2e.aonprd.com/Rules.aspx?ID=499" target="_blank">HERE</a>
          </p>
        </div>
        <div class="card-footer text-center">
          <a href="{{ url_for('encounters.Home') }}" class="btn btn-primary">Build</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">Creature Identification</h4>
        <div class="card-body">
          <p class="card-text">
            Select a creature from the list to view its identification DC and the skill(s)
            needed to identify it.
            <br /><br/>
            Identification information based on Creature Identification rules found 
            <a href="https://2e.aonprd.com/Rules.aspx?ID=566" target="_blank">HERE</a>
          </p>
        </div>
        <div class="card-footer text-center">
          <a href="#" class="btn btn-primary">Identify</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}